
@model IEnumerable<Vista_historial_medico_blockchain.Models.CreatedUserDTO> 
@{
    ViewData["Title"] = "Home Page";
}
<br>
<h1>Administradores</h1>
<div class="table100 ver1 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column13"><h5>Nombre</h5></th>
          <th class="cell100 column13"><h5>Apellido</h5></th>
          <th class="cell100 column15"><h5>Usuario</h5></th>
          <th class="cell100 column15"><h5>Email</h5></th>
          <th class="cell100 column5"><h5>Teléfono</h5></th>
          <th class="cell100 column13"><h5>Editar</h5></th>
        </tr>
      </thead>
  <div class="table100-body ">
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td class="cell100 column13">&nbsp;&nbsp;&nbsp;<h6>@Html.DisplayFor(modelItem => item.nombre)</h6></td> 
            <td class="cell100 column13"><h6>@item.apellido</h6></td> 
            <td class="cell100 column15"><h6>@item.userName</h6></td> 
            <td class="cell100 column15"><h6>@item.email</h6></td> 
            <td class="cell100 column5"><h6>@item.phoneNumber</h6></td>
            <td class="cell100 column13"><h6>
						<data-placement="top" data-toggle="tooltip" title="Edit">
							@Html.ActionLink("Editar", "Edit", new { id = item.id }) </h6>
				  	</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<center>
  <br>
  <div class="btn-group">
    <center><data-placement="top" data-toggle="tooltip" title="new"><a asp-controller="Panel" asp-action="Index"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Regresar</button></a></center> &nbsp;&nbsp;&nbsp;&nbsp;
    <center><data-placement="top" data-toggle="tooltip" title="new"><a asp-controller="Accounts" asp-action="CreateAdmin"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Agregar</button></a></center> 
  </div>
</center>

    
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Deshabilitar Hospital</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>¿Esta seguro que desea deshabilitar este hospital?</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Si</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div> 
  </div>
</div>
    

