@model Vista_historial_medico_blockchain.Models.UserInfo
@{
    ViewData["Title"] = "Home Page";
    
}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                    <div class="login-box">
                            <div class="card-body text-center">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <center><img src="https://www.flaticon.com/svg/vstatic/svg/1651/1651092.svg?token=exp=1620974177~hmac=b9e8c7c4ec6cd2538432a0bcc7a6859c" style="width:200px;height=200px;"/></center>
                                     <br>
                                     <h1 class="h3 mb-3 font-weight-normal"><b>Registrarse</b></h1>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder="Nombre"} })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", placeholder="Apellido"} })
                                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder="Email"} })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder="Username"} })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder="Password"} })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder="Confirmar Password"} })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder="Teléfono"} })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
                                }
                                
                            </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
