
@model Vista_historial_medico_blockchain.Models.CreateConsultaDTO
@{
    ViewData["Title"] = "Home Page";
    var transactions = (ConsultaViewInfo)ViewData["transactions"];
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Consultas" aria-controls="home" role="tab" data-toggle="tab">Consultas</a></li>
                    <li role="presentation"><a href="#CrearConsulta" aria-controls="CrearConsulta" role="tab" data-toggle="tab">Crear Consulta</a></li>
                   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="Consultas" class="tab-pane fade in active" id="Consultas">
                        @foreach (var transaction in transactions.TransactionBlock)
                        {
                            <table>
                              <thead>
                                <tr class="row100 head">
                                  <th class="cell100">Nombre del medicamento: </th>
                                  <th class="cell100" colspan="2">ewq</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="row100 body">
                                  <td class="cell100" colspan="3"><strong>Descripción:</strong>ewqewq</td>
                                </tr>
                              </tbody>	
                            </table>
                            <br>
                        }
                    </div>
                    <div role="Crear Consulta" class="tab-pane fade" id="CrearConsulta">
                                                   
                      @using (Html.BeginForm())
                      {
                        @Html.AntiForgeryToken()
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                          <h4 class="modal-title custom_align" id="Heading">Crear nueva consulta</h4>
                        </div>
                      <br>
                      <h1>Historial Médico</h1>
                        <div class="modal-body">
                          <div class="form-group">
                            <h6>Fecha de elaboración</h6>
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.FechaElaboracion, new { htmlAttributes = new { @class = "form-control", placeholder="Fecha de elaboración"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.FechaElaboracion, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                             <h6>Fecha de nacimiento</h6>
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", placeholder="Fecha de nacimiento"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.FechaNacimiento, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            <h6>Sexo</h6>
                            <input type="radio" id="male" name="gender" value="0">
                            <label for="male">Hombre</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="female" name="gender" value="1">
                            <label for="female">Mujer</label><br>
                          </div>
                          <div class="form-group">
                            <h6>Interrogatorio</h6>
                            <input type="radio" id="directo" name="interrogatorio" value="0">
                            <label for="directo">Directo</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="indirecto" name="interrogatorio" value="1">
                            <label for="indirecto">Indirecto</label><br>
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosMadre, new { htmlAttributes = new { @class = "form-control", placeholder="Padecimientos de la madre"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosMadre, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosPadre, new { htmlAttributes = new { @class = "form-control", placeholder="Padecimientos del padre"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosPadre, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosHermanos, new { htmlAttributes = new { @class = "form-control", placeholder="Padecimientos de los hermanos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosHermanos, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosRamaMaterna, new { htmlAttributes = new { @class = "form-control", placeholder="Padecimientos de los familiares maternos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosRamaMaterna, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosRamaPaterna, new { htmlAttributes = new { @class = "form-control", placeholder="Padecimientos de los familiares paternos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.PadecimientosRamaPaterna, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.EsquemaVacunacion, new { htmlAttributes = new { @class = "form-control", placeholder="Esquema de vacunación"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.EsquemaVacunacion, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesQuirurgicos, new { htmlAttributes = new { @class = "form-control", placeholder="Antecedentes quirúrgicos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesQuirurgicos, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesTraumaticos, new { htmlAttributes = new { @class = "form-control", placeholder="Antecedentes traumáticos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesTraumaticos, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesAlergicos, new { htmlAttributes = new { @class = "form-control", placeholder="Antecedentes alérgicos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesAlergicos, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesHospitalizaciones, new { htmlAttributes = new { @class = "form-control", placeholder="Antecedentes de hospitalizaciones"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.HistoriaClinica.AntecedentesHospitalizaciones, "", new { @class = "text-danger" })
                          </div>
                          <br>
                        </div>

                        <h1>Plan de Medicamento</h1>
                        <div class="modal-body">
                          <div class="form-group">
                            <h6>Fecha de inicio</h6>
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.PlanMedicamentos.Init, new { htmlAttributes = new { @class = "form-control", placeholder="Fecha inicio"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.PlanMedicamentos.Init, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            <h6>Nombre medicamento</h6>
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.PlanMedicamentos.NombreMedicamento, new { htmlAttributes = new { @class = "form-control", placeholder="Nombre medicamento"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.PlanMedicamentos.NombreMedicamento, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            <h6>Indicaciones</h6>
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.PlanMedicamentos.Indicaciones, new { htmlAttributes = new { @class = "form-control", placeholder="Indicaciones"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.PlanMedicamentos.Indicaciones, "", new { @class = "text-danger" })
                          </div> 
                          <div class="form-group">
                            <h6>Fecha término</h6>
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.PlanMedicamentos.Finish, new { htmlAttributes = new { @class = "form-control", placeholder="Antecedentes de hospitalizaciones"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.PlanMedicamentos.Finish, "", new { @class = "text-danger" })
                          </div>
                          <br>
                        </div>

                        <h1>Consulta Médica</h1>
                        <div class="modal-body">
                            <b>Subjetivo</b>
                            <hr >
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Dolencia, new { htmlAttributes = new { @class = "form-control", placeholder="Dolencia"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Dolencia, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.RelacionPasada, new { htmlAttributes = new { @class = "form-control", placeholder="Relación Pasada"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.RelacionPasada, "", new { @class = "text-danger" })
                          </div>
                          <br>
                          <b>Objetivo</b>
                            <hr >
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Hallazgos, new { htmlAttributes = new { @class = "form-control", placeholder="Hallazgos"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Hallazgos, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.PruebasDiagnosticas, new { htmlAttributes = new { @class = "form-control", placeholder="Pruebas diagnósticas"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.PruebasDiagnosticas, "", new { @class = "text-danger" })
                          </div>
                          <br>
                          <b>Análisis</b>
                            <hr >
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Resumen, new { htmlAttributes = new { @class = "form-control", placeholder="Resumen"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Resumen, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Problemas, new { htmlAttributes = new { @class = "form-control", placeholder="Problemas"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Problemas, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Diferenciales, new { htmlAttributes = new { @class = "form-control", placeholder="Diferenciales"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Diferenciales, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Razonamiento, new { htmlAttributes = new { @class = "form-control", placeholder="Razonamiento"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Razonamiento, "", new { @class = "text-danger" })
                          </div>
                          <br>
                          <b>Plan</b>
                          <hr>
                
                          
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Educacion, new { htmlAttributes = new { @class = "form-control", placeholder="Educación"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Educacion, "", new { @class = "text-danger" })
                          </div>
                          <div class="form-group">
                            @Html.EditorFor(model => model.ConsultaMedica.Seguimiento, new { htmlAttributes = new { @class = "form-control", placeholder="Seguimiento"} })
                            @Html.ValidationMessageFor(model => model.ConsultaMedica.Seguimiento, "", new { @class = "text-danger" })
                          </div>
                        </div>
                        <div class="modal-footer ">
                          <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Crear</button>
                        </div>
                      }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="btn-group">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <center><data-placement="top" data-toggle="tooltip" title="new"}><a asp-controller="AdminPanel" asp-action="ClinicAdmin"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Regresar</button></a></center> 
</div>
<br><br><br>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>