@model Vista_historial_medico_blockchain.Models.HospitalInfo
@{
    ViewData["Title"] = "Tu Hospital";
}
<br>
<h1>Tu Hospital</h1>
<div class="table100 ver1 m-b-110">
  <div class="table100-head">
    <div class="table-responsive"> 
      <table>
        <thead>
          <tr class="row100 head">
            <th style="text-align: center;"  class="cell100"><h5>Nombre</h5></th>
            <th style="text-align: center;" class="cell100"><h5>Teléfono</h5></th>
            <th style="text-align: center;" class="cell100"><h5>Fecha de registro</h5></th>
            <th style="text-align: center;" class="cell100"><h5>Especialidades</h5></th>
            <th style="text-align: center;" class="cell100"><h5>Servicio</h5></th>
            <th style="text-align: center;" class="cell100"><h5>Medicamentos</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="display:none;">@Html.DisplayFor(Model => Model.hospitalId)</td>
            <td><h6>@Html.DisplayFor(Model => Model.Name)</h6></td>
            <td><h6>@Html.DisplayFor(Model => Model.PhoneNumber)</h6></td>
            <td><h6>@Html.DisplayFor(Model => Model.registerDate)</h6></td>
            <td><data-placement="top" data-toggle="tooltip" title="Edit">
                <h6>@Html.ActionLink("Ver especialidades", "HospitalEspecialidadesAdministrador", new { id = Model.hospitalId })</h6></td>
            <td><data-placement="top" data-toggle="tooltip" title="Edit">
              <h6>@Html.ActionLink("Ver medicamentos", "ListaMedicamentos", new { hospitalId = Model.hospitalId })</h6></td>
            <td>@Html.DisplayFor(Model => Model.servicesCatalog.Type)</td>
          </tr>
          </tbody>
      </table>
    </div> 
  </div>  
</div>             

<br>
<div class="btn-group">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <center><data-placement="top" data-toggle="tooltip" title="Regresar"><a asp-controller="Panel" asp-action="Index"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Regresar</button></a></center> 
</div>

