@model IEnumerable<Vista_historial_medico_blockchain.Models.HospitalMedicamentosDTO>
@{
    ViewData["Title"] = "Medicamentos registrados";
}

<br><h1>Medicamentos registrados</h1>
<div class="table100 ver1 m-b-110">
  <div class="table100-head">
    @foreach (var item in Model)
    {
      <table>
        <thead>
          <tr class="row100 head">
            <th style="text-align: center; class="cell100"><h5> @Html.DisplayFor(model => item.nombreMedicamento)</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr class="row100 body">
            <td class="cell100 column11" >&nbsp;&nbsp;&nbsp;<h6><strong>Descripción:</strong>@Html.DisplayFor(model => item.descripcion)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11">&nbsp;&nbsp;&nbsp;<h6><strong>Indicaciones:</strong>@Html.DisplayFor(model => item.indicaciones)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11">&nbsp;&nbsp;&nbsp;<h6><strong>Vía de administración:</strong>@Html.DisplayFor(model => item.viaAdministracion)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11" >&nbsp;&nbsp;&nbsp;<h6><strong>Grupo de medicamentos:</strong>@Html.DisplayFor(model => item.grupoMedicamentos)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11">&nbsp;&nbsp;&nbsp;<h6><strong>Precauciones:</strong>@Html.DisplayFor(model => item.precauciones)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11">&nbsp;&nbsp;&nbsp;<h6><strong>Efectos secundarios:</strong>@Html.DisplayFor(model => item.efectosSecundarios)</h6></td>
          </tr>
          <tr class="row100 body">
            <td class="cell100 column11">
              <data-placement="top" data-toggle="tooltip" title="Edit">&nbsp;&nbsp;&nbsp;
                <h6>@Html.ActionLink("Eliminar", "BorrarMedicamento", new { id = item.id })</h6>
            </td>
          </tr>
        </tbody>	
      </table>
      <br>
    }
  </div>
</div>

<center>
  <br>
  <div class="btn-group">
    <center><data-placement="top" data-toggle="tooltip" title="new"><a asp-controller="Hospitals" asp-action="CrearMedicamento"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Agregar</button></a></center> 
  </div>
</center>
&nbsp;&nbsp;